.minesweeper_window{
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.header{}

.field{
    width: 340px;
    display: flex;
    flex-wrap: wrap;

}
.cell{
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
}
.cell:hover{
    background-color: bisque;
}
.hidden{
    background-color: beige;
}
.opened, .opened:active{
    background-color: burlywood;
}